version: "3.9"

services:
  nextjs:
    build: .
    container_name: nextjs
    restart: always
    env_file:
      - .env
    volumes:
      - ./public/images:/app/public/images
    depends_on:
      - mysql

  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: madhavam
      MYSQL_USER: madhavam_user
      MYSQL_PASSWORD: strongpassword
    volumes:
      - mysql_data:/var/lib/mysql

  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./public/images:/app/public/images
    depends_on:
      - nextjs

volumes:
  mysql_data:
